body {background-color: powderblue;}

.h1 {
  padding: 5px;
  text-align: center;
  background: #1a73bc;
  font-size: 25px;
  box-shadow: inset;  

}

p {
  text-align: center;
  font-size: larger;
}

.h2 {
  padding: 30px;
  text-align: center;
  background: #1a73bc;
  color: white;
  font-size: 15px;
}

li {text-align: center;}

.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: left;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: greenyellow;
  }

  a{
    padding: 0.5px 20px;
    color:black;
    background-color: pink;
    cursor: pointer;
    font-size: 16px;
   }

  

  a:hover {background-color: blueviolet;}
  
  .contact {
    padding: 25px;
    text-align: center;
    background: #1a73bc;
    color: white;
    font-size: 20px;
  }

  /* Navigation Panel */
  /* button for dropdown class links*/
  .dbtn {
    background-color: pink;
    color: black;
    padding: 0.5px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  /* added cursor to dropdown*/
  .dropdown {
    position: relative;
    cursor: pointer;
    float: right;
  }
  
  /* css for dropdown content*/
  .dcontent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* custom css for "a" */
  .dcontent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* different hovers for the contents of navigation panel */
  .dcontent a:hover {background-color: white;}
  
  .dropdown:hover .dcontent {display: block;} 
  
  .dropdown:hover .dbtn {background-color: pink;}

  /* header 3 custom style */
  .h3 {
    padding: 50px;
    text-align: center;
    background: hsl(207, 76%, 42%);
    color: red;
    font-size: 20px;  
  }

  /* button style */
  .button {
    background-color: pink;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  

  